
<h1>About Me!</h1>
<div class="jumbotron">
    <div class="row">
        <div class="column1">
            <img src="../../../assets/pics/IMG_20181008_175414.jpg" id="profilepic">
        </div>
    <div class="column2">
        <pre> 
            Hi, my name is Sam Slusky, and I'm looking to offer tutoring services in Math and Science!
        
            I am a graduate of Rensselaer Polytechnic Institute's Class of 2013. I graduated with a dual Bachelor of Science
            in Aeronautical and Mechanical Engineering. During my time at RPI, I took courses in Calculus, and differential
            equations, as well as a handful of classes that could be best summed up as "Physics". I look forward to being able
            to tutor students of pretty much all ages who are having trouble in their classes, or just looking to solidify concepts
            that their teacher's wouldn't otherwise have the opportunity to reinforce.
            
            Feel free to email me at HickoryLakeTutor@gmail.com
                Best Regards,
                - Sam Slusky
        </pre>
    </div>
</div>




