#profilepic{
    max-height: 500px;
    max-width: 500px;
}

* {
  box-sizing: border-box;
}



@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    margin-left:10px;
    padding: 20px;
  }
}

.column1 {
    margin-left: 10px;
    float: left;
    width: 500px;
    padding: 30px;

  }
.column2 {
    float: left;
    max-width: 700px;
    padding: 30px;
    margin-left: 30px;
}
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }