#footer {
    position:fixed;
    height: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: rgb(8, 47, 8);
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    z-index: 998;
    color: white;
    text-align: center;
    border-top: 10px, 100%, black;
    border-radius: 0px;
  }

  #foot:link{
    color: whitesmoke;
    text-decoration: none;
    
  }
  #foot:hover{
    color:black;
    cursor: pointer;
    text-decoration: none;
  }
  
  #foot:active{
    color: #8b0000;
  }